*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template: 10vh repeat(3, 1fr) / 5% 25% 25% 40% 5%;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
}
h1{
    justify-self: center;
    align-self: center;
    grid-column: span 5;
    grid-row: 1;
}
input{
    grid-column: 2 / span 2;
    grid-row: 2;
    padding: 25px;
    border-radius: 25px;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 0 5px 0;
    border: none;
    margin: 10px;
}
button{
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: center;
    padding: 25px;
    border-radius: 25px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 2em;
    margin: 10px;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        transform: scale(0.95) translateY(-5px);
        filter: drop-shadow(black 0 10px 5px);
    }
    &:active{
        transform: translateY(5px);
        filter: drop-shadow(black 0 0 5px);
    }
}

ul{
    grid-column: 4;
    grid-row: span 4;
    justify-self: center;
    li{
        padding: 25px;
        background-color: rgba(249, 244, 238, 0.658);
        box-shadow: inset rgba(0, 0, 0, 0.15) 0 0 5px 0;
        border-radius: 25px;
        list-style-type: none;
        width: 100%;
        font-size: 3em;
        font-family : 'chillax', sans-serif;
        margin: 15px;
        }
}