*{
    margin: 0;
}
body{
    transition: 10s ease;
    background-image: url(./f6tmkr5znoq41.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* barre de menu */
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0;
    height: 100vh;
    background-image: url('../exemple/IMAGE/Mercedes-AMG-F1-W11-EQ-AMD-renders.webp');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: black 0 2px 2px 5px;
    transform: translate(-20vw);
    transition: 10s ease;
    position: fixed;
    top: 0;
    
}

.navlink{
    text-decoration: none;
    font-size: 5em;
    font-weight: bold;
    color: rgb(248, 247, 247);
    transition: 1.5s ease;
}
.navlink:hover{
    
    color: rgb(11, 11, 11);
    text-shadow: rgb(5, 237, 198) 5px 10px 5px;
}

a{
    text-decoration: none;
    color: rgb(237, 231, 231);
    font-size: 5em;
}
button{
    margin: 20px;
    background-color: rgb(11, 11, 11);
    border: 5px solid rgb(242, 239, 239);
    box-shadow: 5px 10px 5px rgb(99, 5, 72);
}

button p{
    color: rgb(247, 239, 239);
    font-size: 2em;
}